body {
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 2;
}

h1 {
  font-size: 7rem; /* 16px = 1em = 100% (rem - root em)*/
  font-family: 'Sacramento', cursive;
  color: #11999E;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #132238;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  color: #EAF6F6;
  border-width: 5px;
  margin: 7% 48%;
  width: 4%;
  text-align: center;
}

/* Containers */

.container-fluid {
	padding: 5% 5%;
}

#top-container .container-fluid {
  background-color: #ebf0f6;
  padding: 5% 5% 0;
}

#middle-container {
  background-color: #98ccd3;
}

#bottom-container {
  background-color: #364e68;
}

/* Top Section */

.name-heading {
	margin: 7% auto 3%;
}

.web {
  text-decoration: underline;
}

.top-cloud {
	width: 100px;
	position: absolute;
	right: 20%;
}

.bottom-cloud {
	width: 100px;
	position: absolute;
	left: 20%;
}

.mountain {
	width: 40%;
}

/* Middle Section */

#middle-container h2 {
	font-size: 2.5rem;
}

.profile-img {
  width: 175px;
  margin: 2% 0;
}

.coding-img {
  width: 175px;
  float: left;
  margin-right: 4%;
}

.planet-img {
  width: 175px;
  float: right;
  margin-left: 4%;
}

.skill-row {
  width: 60%;
  margin: 10% auto;
  text-align: left;
}

/* Bottom Section */

/* Use clear to prevent wrapping.
.planet-text {
  clear: right;
}
*/

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ebf0f6;
  font-size: 20px;
  background: #364e68;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 3%;
}

.btn:hover {
  background: #132238;
  color: #ebf0f6;
}

/* Footer Section */

.footer-link {
  padding: 0 1%;
  color: #EAF6F6;
}

.copyright-text {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: .7rem;
  margin: 2% 0 0;
}

.icons-credit {
  font-size: .7rem;
  color: #132238;
}